*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 62.5%;
}
.grid_container{
    margin: 0 auto;
    margin-top: 3rem;
    background-color: aqua;
    width: 40rem;
    height: 40rem;
    text-align: center;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}
button[type="button"]{
    width: 10rem;
    height: 10rem;
    font-size: 3rem;

}
.play{
    height: 7rem;
    width: 7rem;
    font-size: larger;
}
.winner_displayer{
   width: 60%;
   height: 30rem;
    background-color: #e90a4d;
    /* margin: 0 auto; */
    position: absolute;
    top: 10%;
    left: 18%;
    border-radius: 10px;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -9999;
}
.winner_name{
    font-size: 2rem;
    color: #fff;
    font-weight: 900;
}
.text{
    font-size: 3rem;
    color: #fff;
    font-weight: 900;
}
img{
    width: 24rem;
    height: 24rem;
    
}